body {
  width:100%;
  height:100%
}

header {
  width: 100%;
  position: sticky;
  z-index: 2;
}

.header {
  height:60px;
  width:100%;
  display: flex;
  background-color: #FFF;
  border-bottom: solid 2px #005FFF;
  opacity: 0.9;
  z-index: 1;
  position: sticky;
  &__left {
    width: 20%;
    color: #005FFF;
    margin-left:30px;
    font-size:24px;
    line-height:60px;
  }
  &__middle {
    width:60%;
    line-height: 60px;
    margin-top: 5px;
  }
  &__right {
    display: flex;
    width: 20%;
    margin:0 30px 0 auto;
    font-size:16px;
    line-height:60px;
    text-align: right;
  }
}

#date {
  font-weight: bold;
  font-family:fantasy;
  color: black;
  font-size: 30px;
  text-align: center;
}

.top {
  position: relative;
  box-sizing: border-box;
  &__contents {
    display: flex;
    position: absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background: rgba(255,255,255,0.6);
  }
  &__left {
    width: 60%;
    margin: 40px 20px 0 20px;
    &--title {
      margin-top:30px;
      color: #FFF;
      font-weight: bold;
      font-size: 64px;
    }
    &--description {
      
    }
    }
  &__right {
    width:40%;
    height:400px;
    margin: 60px 20px 0 20px;
    background-color: #EEEEEE;
    border-radius: 10px;
  }
}

.login {
  text-align: center;
  display: block;
  &__contents {
    margin-top:15px;
    box-sizing: border-box;
  }
}

.login-top {
  margin-top: 20px;
  font-weight: bold;
  font-size:24px;
}

.form-group {
  height:100%;
  margin:0 17%;
  text-align: left;
}

.form-title {
  font-size:12px;
  color: blue;
}

.form-control {
  width:100%;
  padding-left: 3px;
}

input {
  text-align: start;
}

.form-submit {
  margin:0 17%;
}

.btn-submit {
  width:100%;
  margin-top:10px;
  background-color:#005FFF;
  height:30px;
  font-size: 14px;
  color:#FFF;
  text-align: center;
}

.top,img {
  top: 0;
  left: 0;
  width: auto;
  height: auto;
  min-width: 100%;
  min-height: 100%;
  max-width: inherit;
}

.login__sns,.signup__sns {
  margin-top:10px;
  display:flex;
  justify-content: center;
  margin:10px 17% 0 17%;
}

.google {
  width: 180px;
  height: 45px;
  margin-right: 5px;
  max-width: none;
  min-width: 0;
  min-height: 0;
}

.facebook {
  width: 176px;
  height: 44px;
  max-width: none;
  min-width: 0;
  min-height: 0;
}

.today,.already {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  &-sub {
    color: blue;
    cursor: pointer;
  }
}

.signup {
  margin-top:20px;
  text-align: center;
  display: none;
  &__contents{
    margin-top:15px;
    box-sizing: border-box;
  }
}

.signup-top {
  font-weight: bold;
  font-size:24px;
}

a {
  text-decoration: none;
  color: #FFF;
}

li , ul {
  text-decoration: none;
}

.list-top {
}

.list-name {
  width: 120px;
  margin: 0 0 0 auto;
  text-align: center;
  cursor: pointer;
  background-color: #EEE
}

.list-name:hover > li {
  display: block;
}

.list-logout {
  width: 120px;
  height: 60px;
  text-align: center;
  background-color: #FFF;
  display:none;
}

.list-logout:hover {
  background-color: #999;
}

.introduction-about,.introduction-timer {
  width: 100%;
  margin-top: 50px;
}

.about-top,.timer-top {
  font-size: 32px;
  font-family: fantasy;
  border-bottom: 3px solid black;
  text-align: start;
  font-weight: bold;
  margin: 0 150px;
}

.about-image {
  width: 80%; 
  margin: 20px auto 0 auto;
}

.about-description,.timer-description {
  text-align: start;
  font-weight: normal;
  font-size: 20px;
  margin: 30px 200px;
}

.about-description-li {
  font-weight: normal;
  font-size: 20px;
  display: flex;
  margin: 0 150px;
}

.timer-top {
  margin-bottom: 20px;
}

.timer-content {
  display: flex;
  width: 100%;
}

.timer-image {
  margin: 20px 0 0 100px;
  width: 40%;
  height: 40%;
}

.timer-description {
  width: 60%;
}

.footer {
  width: 100%;
  height: 40px;
  margin-top: 40px;
  background-color: rgb(0, 18, 68);
  display: flex;
  justify-content: space-between;
}

.footer-right {
  line-height: 40px;
  font-size: 14px;
  color: #FFF;
  margin-right: 20px;
}