.index-date {
  margin-top: 20px;
  font-size: 24px;
  text-align: center;
}

.index-new {
  height: 30px;
  width: 240px;
  line-height: 30px;
  font-size: 14px;
  font-weight: bold;
  color: #FFF;
  padding: 3px 6px;
  background-color:#005FFF;
  border-radius: 20px;
  text-align: center;
  margin: 20px auto;
}

.index-yesterday {
  margin-left: 15px;
}