.button-time {
  width: 40px;
  height: 24px;
  border-radius: 5px;
}

.button {
  display: flex;
  &__start{
    margin-right:10px;
  }
  &__pause {
    margin-right: 10px;
  }
  &__stop {
    margin-right:10px;
  }
  &__restart {
    margin-right:10px;
  }
  &__reset {
    margin-right:10px;
  }
}